body,
.top,
.specials,
.quote-section,
.specials-images-subtext
.bottom{
    display: flex;
    flex-direction: column;
}

body {
    margin: 0%;
}


.top,
.footer {
background-color: #1F2937;
}



.header {
    color: #F9FAF8;
    font-size: 24px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 33%;
    padding-right: 33%;
    

}

.links {
    gap: 15px;
    margin-top: 20px;
}

.second-header {
    text-align: left;
    padding: 10%;
    display: flex;
    

}
.big-name {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}
.big-name-subtext {
    color: #E5E7EB;
    font-size: 18px;
}
.placeholder-image {
    color: #E5E7EB;
    font-size: 18px;
}

.specials {
    padding: 0 10%;
    display: flex;
    align-items: center;
    
}
.specials-images {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 20px;

}
.specials-images-subtext p{
    text-align: auto;
    width: 150px;
}

.quote-section {
    background-color:#E5E7EB;
    justify-content: center;
}

.quote {
    margin-top: 200px;
    margin-bottom: auto;
    font-size: 36px;
    font-weight: 400;
    color: #1F2937;
}

.quoter {
    text-align: right;
}

