body {
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.header,
.footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 7%;
    background-color: #1f2937; 
}
.section-one,
.section-two,
.section-three,
.section-four {
    width:100%;
    min-height: 22.5%;
}

.section-one {
    padding: 3% 15%;
    width: 80%
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 50px;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
    margin-left: auto;
    padding-right: 50px;
    display: flex;
}

.hLink {
    margin-right: 30px;
    color: #e5e7eb;

}

a {
    color: #e5e7eb;

}

.section-one {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    gap: 100px;

}


.section-one-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 200px;
    height: auto;

}

.section-one-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}
.section-one-h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}
.section-one-h4 {
    color: #E5E7Eb;
    font-size: 18px;
    font-weight: lighter;
}

.section-one-button {
    width: 100px;
    height: 35px;
    border-radius: 8px;
    background-color:#3882F6;
    color: #E5E7Eb;
    font-weight: bold;
    border: 2px solid #3882F6;
}
.section-one-button:hover {
    cursor: pointer;
}

.section-two-h1 {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-top: 50px;
    margin-bottom: 50px;
}

.b1container {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-color: blue;
    background-color: #1f2937;
}

.b1container:hover {
    width: 250px;
    height: 250px;
}
.boxinfo {
    font-size: 18px;
    color: #1F2937;
    font-weight: lighter;
    width:150px;
    text-align: center;
}

.section-two-box-image {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    border: 5px solid #3882F6;

}

.section-two-box-image:hover {
    width: 250px;
    height: 250px;
}
.boxes {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.section-three {
    margin-top: 75px;
    background-color: #E5E7Eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    gap: 25px;
}

.section-three-quote {
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    overflow: scroll;
    line-height: 1.1;
    width: 50%;
    height: 50%;
    color: #1F2937;
}
.section-three-quoter {
    max-width: 70%;
    margin-left: auto;
    margin-right: 20%;
}
.section-four-box {
    width: 50%;
    min-height: 100px;
    min-width: 300px;
    margin-right: auto;
    margin-left: auto;
    background-color: #3882F6;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #F9FAF8;
}

.section-four {
    padding-top: 70px;
}
.section-four-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.section-four-header h4 {
    font-weight: lighter;
}
.section-four-button {
    width: 100px;
    height: 35px;
    border-radius: 8px;
    background-color:#3882F6;
    color: #E5E7Eb;
    font-weight: bold;
    border: 2px solid #E5E7Eb;
}

.section-four-button:hover {
        cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    color: #E5E7Eb;
    font-weight: lighter;
}